body {
  font-family: "Microsoft YaHei", sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 100px;
}

h1 {
  color: #0078d7;
  font-size: 36px;
}

p {
  color: #555;
  font-size: 18px;
}

button {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}
